APP_NAME="RFN Laravel Project"
APP_ENV=production
APP_KEY=base64:3CLq+pWQ3Nq0ZqhoONF25dIHW+tnjH/IXpJLhjmX9r8=
APP_DEBUG=true
APP_URL=https://rfn-final-laravel-project.onrender.com

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=kodama.proxy.rlwy.net
DB_PORT=26919
DB_DATABASE=railway
DB_USERNAME=root
DB_PASSWORD=KgfqjpwZYEksQpmNGTfaErXjKyMiTlZD