APP_NAME="RFN Laravel Project"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-render-domain.onrender.com

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=your_railway_host
DB_PORT=3306
DB_DATABASE=railway
DB_USERNAME=root
DB_PASSWORD=your_railway_password